.complex-title
  margin-bottom: 23px
  display: block
  clearfix()
  .bordered-icon, .text
    float: left

  .bordered-icon
    width: 43px

    i.icon-arrow_up
      font-size: 19px
      top: 21px
      left: 0.5px

  .text
    width: calc(100% - 43px)

  .text
    padding-left: 20px

  .bordered-icon + .text
    padding-left: 11px

  .subtitle
    font-size: 13px
    opacity: .5
    margin-top: 3px



  h4
    letter-spacing: 0.01em
