.notifications-global-wrapper
  .notifications-overlay
    visibility: hidden
    opacity: 0
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(#272727, 0.6)
    trans('visibility, opacity')
    z-index: 1000

  &.error
    .notifications-overlay
      visibility: visible
      opacity: 1

.notifications
  width: 220px !important
  transform: translate3d(20px, -20px, 0) !important
  trans('transform')
  transition-duration: .5s
  @media (max-width: $mobile)
    right: 100% !important
    left: auto !important

.notification-wrapper
  overflow: visible !important
  margin-bottom: 20px !important
  &:last-child
    margin-bottom: 0 !important

.vue-notification
  border-radius: 5px
  border-left: none
  margin: 0
  padding: 8px 12px
  background-color: rgba($color-text, .94)
  &.waiting
    .icon-close
      opacity: 0 !important
      visibility: hidden !important
  &.success, &.warning, &.error
    background-color: @background-color
  .notification-title
    font-size: 13px
    margin-bottom: 11px
    color: $color-white
    display: none
  .notification-content
    color: $color-white
    min-height: 23px
    font-size: 13px
    padding-left: 23px
    padding-bottom: 0 !important
    position: relative
    padding-right: 20px
    span
      vertical-align: sub
      display: inline-block
    .icon-close
      vt-middle()
      position: absolute
      right: 0
      font-size: 14px
      cursor: pointer
      visibility: visible
      opacity: .3
      trans('opacity, visibility')
      &:hover
        opacity: .8
    .icon-wrapper
      vt-middle()
      position: absolute
      left: 0
    .icon-spinner
      display: inline-block
      height: 16px
      font-size: 16px
    .icon-check
      font-size: 11px
      position: relative
      top: -2px
    .icon-error
      font-size: 16px
      position: relative
      top: -1px
