@keyframes rotating
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.icon-spinner
  animation: rotating 1s linear infinite
  transform-origin: 50% 52%
  display: inline-block
  &.alone
    line-height: 0.22
    backface-visibility: hidden
