#buy-sell-form
  .amount-input
    .prefix
      width: 125px
    input
      flex: 1
  .operation-type
    padding: 18px 12px
  .order-type
    padding: 0 19px
    border-bottom: 1px solid $color-border
    .sub-tabs
      bottom: -1px
      position: relative

    @media(max-width: 400px)
      .prefix
        width: 95px
        h3
          font-size: 22px
      input
        font-size: 22px
