#pin-modal
  padding: 0
  .box
    box-shadow: none
  h4
    padding: 20px
    padding-bottom: 0px
    padding-top: 16px

  .keypad
    .buttons
      max-width: 450px
      margin: auto
      padding: 20px
      padding-bottom: 85px
