.sales-point-box
  .box-content
    padding: 17px 18px
    padding-bottom: 10px

  h5
    margin-bottom: 18px

  .btn-list
    margin-bottom: 4px
    clearfix()
    .btn
      width: calc(50% - 2px)
      float: left
      margin-right: 4px
      &:last-child
        margin-right: 0

.sales-point-list
  $gap = 8px
  clearfix()
  margin: ($gap / -2)

  .sales-point-list-item
    float: left
    width: 50%
    padding: ($gap / 2)

    @media(max-width: 768px)
      width: 100%
