.transfer-send
  padding-top: 108px
  padding-bottom: 40px
  text-align: center
  .icon-check_slim
    color: $color-base
    font-size: 28px
    margin-bottom: 16px
    display: block
  .amount
    font-size: 30px
    margin-bottom: 16px
  .description, .will-contact
    font-size: 13px
  .description
    margin-bottom: 2px
  .will-contact
    margin-bottom: 103px
  .link
    font-size: 17px
