.transaction-summary
  position: relative
  padding-left: 38px

  &.outcome
    .icon
      background-color: $color-border

  .icon
    position: absolute
    width: 33px
    height: @width
    border-radius: @width
    background-color: $color-green
    color: $color-white
    text-align: center
    left: -3px
    top: 0
    bottom: 0
    margin: auto

    i
      display: inline-block
      vt-middle()

      &.icon-minus
        font-size: 3px
        top: 6px

  .amount
    font-size: 17px
  .desc
    font-size: 13px
    opacity: .5


.box.transaction
  .transaction-title
    margin-bottom: 12px
  .box-content
    padding: 14px 18px 19px 18px
