.verify-account-box
  padding: 17px 15px
  padding-right: 30px
  padding-bottom: 21px
  
  .box-content
    padding: 0
    position: relative
    padding-left: 57px

  .bordered-icon
    position: absolute
    left: 0
