#wire-top-up
  .action-list
    margin-top: -7px
    margin-bottom: 17px

  .skip-btn
    opacity: .3
    margin: auto
    margin-top: 30px
    display: block
    trans('opacity')
    &:hover
      opacity: .5

  .complex-title
    margin-bottom: 25px
    h4
      padding-top: 8px
      padding-left: 0.5px
      letter-spacing: -0.01em
      word-spacing: 0.05em

  .box
    padding-top: 4px
    padding-left: 1px

  .transfer-type
    position: relative
    min-height: 43px
    margin-bottom: 20px
    padding-left: 57px
    padding-top: 12px
    .type-icon
      font-size: 21px
      padding-top: 10px
      padding-left: 1px
      background-color: rgba($color-black, .05)
      width: @min-height
      height: @width
      border-radius: @width
      text-align: center
      position: absolute
      top: 0
      left: 0
