@font-face {
    font-family: "AktivGroteskCorp-Light";
    src: url("AktivGroteskCorp-Light.eot");
    src: url("AktivGroteskCorp-Light.eot?#iefix") format("embedded-opentype"),
         url("AktivGroteskCorp-Light.woff2") format("woff2"),
         url("AktivGroteskCorp-Light.woff") format("woff"),
         url("AktivGroteskCorp-Light.ttf") format("ttf"),
         url("AktivGroteskCorp-Light.svg#AktivGroteskCorp-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}