@font-face {
    font-family: "AktivGroteskCorp-LightItalic";
    src: url("AktivGroteskCorp-LightItalic.eot");
    src: url("AktivGroteskCorp-LightItalic.eot?#iefix") format("embedded-opentype"),
         url("AktivGroteskCorp-LightItalic.woff2") format("woff2"),
         url("AktivGroteskCorp-LightItalic.woff") format("woff"),
         url("AktivGroteskCorp-LightItalic.ttf") format("ttf"),
         url("AktivGroteskCorp-LightItalic.svg#AktivGroteskCorp-LightItalic") format("svg");
    font-style: italic;
    font-weight: 300;
}