@font-face {
    font-family: "AktivGroteskCorp-Regular";
    src: url("AktivGroteskCorp-Regular.eot");
    src: url("AktivGroteskCorp-Regular.eot?#iefix") format("embedded-opentype"),
         url("AktivGroteskCorp-Regular.woff2") format("woff2"),
         url("AktivGroteskCorp-Regular.woff") format("woff"),
         url("AktivGroteskCorp-Regular.ttf") format("ttf"),
         url("AktivGroteskCorp-Regular.svg#AktivGroteskCorp-Regular") format("svg");
    font-style: normal;
    font-weight: 300;
}