@font-face {
    font-family: "AktivGroteskCorp-MediumItalic";
    src: url("AktivGroteskCorp-MediumItalic.eot");
    src: url("AktivGroteskCorp-MediumItalic.eot?#iefix") format("embedded-opentype"),
         url("AktivGroteskCorp-MediumItalic.woff2") format("woff2"),
         url("AktivGroteskCorp-MediumItalic.woff") format("woff"),
         url("AktivGroteskCorp-MediumItalic.ttf") format("ttf"),
         url("AktivGroteskCorp-MediumItalic.svg#AktivGroteskCorp-MediumItalic") format("svg");
    font-style: italic;
    font-weight: normal;
}