// Accordingly to this note http://www.webtype.com/info/articles/fonts-weights/

webfont($main-font-family, 'Rajdhani-Regular', 400, normal)

webfont($main-font-family, 'Rajdhani-SemiBold', 600, normal)

webfont($title-font-family, 'MajorMonoDisplay-Regular', 400, normal)

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0

h1
  font-size: 50px
  font-weight: 500

h3
  font-size: 30px
  font-weight: 500

h4
  font-size: 22px
  letter-spacing: -0.01em
  word-spacing: -0.04em
  font-weight: 500

h5
  font-size: 20px
  font-weight: 700
  margin-bottom: 3px

icomoonfont()

.icon-spinner:before
  content: "\e903"

.icon-check:before
  content: "\e904"

.icon-error:before
  content: "\e902"

.icon-telegram:before
  content: "\e900"

.icon-instagram:before
  content: "\e901"
