// Accordingly to this note http://www.webtype.com/info/articles/fonts-weights/
webfont($main-font-family, 'AktivGroteskCorp-Bold', 700, normal)

webfont($main-font-family, 'AktivGroteskCorp-Medium', 500, normal)

webfont($main-font-family, 'AktivGroteskCorp-Regular', 400, normal)

//webfont($main-font-family, 'AktivGroteskCorp-Light', 200, normal)

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0

h1
  font-size: 50px
  font-weight: 500

h3
  font-size: 30px
  font-weight: 500

h4
  font-size: 22px
  letter-spacing: -0.01em
  word-spacing: -0.04em
  font-weight: 500

h5
  font-size: 20px
  font-weight: 700
  margin-bottom: 3px

.small-title
  font-size: 13px
  opacity: .5

.break-all
  word-break: break-all

.upper-title
  font-size: 12px
  text-transform: uppercase
  opacity: .5
  margin-bottom: 15px
  padding-left: 20px
  letter-spacing: 0.08em

.break-all
  word-break: break-all

icomoonfont()

icon-check_slim = "\e91a"
icon-arrow_right_long = "\e919"
icon-arrow_up_long = "\e914"
icon-arrow_down_long = "\e915"
icon-minus = "\e912"
icon-spinner = "\e90f"
icon-check = "\e910"
icon-close = "\e911"
icon-invoice = "\e916"
icon-error = "\e90e"
icon-arrow_left = "\e90d"
icon-arrow_down_small = "\e917"
icon-qr = "\e90c"
icon-search = "\e913"
icon-arrow_up = "\e900"
icon-arrow_down = "\e901"
icon-burger = "\e902"
icon-card = "\e903"
icon-dots = "\e904"
icon-focus = "\e905"
icon-phone = "\e906"
icon-pin = "\e907"
icon-triangle_up = "\e908"
icon-triangle_down = "\e909"
icon-user = "\e90a"
icon-bank = "\e918"
icon-plus = "\e90b"


.icon-check_slim
  &:before
    content icon-check_slim
.icon-arrow_right_long
  &:before
    content icon-arrow_right_long
.icon-arrow_up_long
  &:before
    content icon-arrow_up_long
.icon-arrow_down_long
  &:before
    content icon-arrow_down_long
.icon-minus
  &:before
    content icon-minus
.icon-spinner
  &:before
    content icon-spinner
.icon-check
  &:before
    content icon-check
.icon-close
  &:before
    content icon-close
.icon-invoice
  &:before
    content icon-invoice
.icon-error
  &:before
    content icon-error
.icon-arrow_left
  &:before
    content icon-arrow_left
.icon-arrow_down_small
  &:before
    content icon-arrow_down_small
.icon-qr
  &:before
    content icon-qr
.icon-search
  &:before
    content icon-search
.icon-arrow_up
  &:before
    content icon-arrow_up
.icon-arrow_down
  &:before
    content icon-arrow_down
.icon-burger
  &:before
    content icon-burger
.icon-card
  &:before
    content icon-card
.icon-dots
  &:before
    content icon-dots
.icon-focus
  &:before
    content icon-focus
.icon-phone
  &:before
    content icon-phone
.icon-pin
  &:before
    content icon-pin
.icon-triangle_up
  &:before
    content icon-triangle_up
.icon-triangle_down
  &:before
    content icon-triangle_down
.icon-user
  &:before
    content icon-user
.icon-bank
  &:before
    content icon-bank
.icon-plus
  &:before
    content icon-plus
