.asterisk-placeholder
  ::placeholder
    position: relative
    top: 4px

.input-container
  ::placeholder
    opacity: .3

  .input-label
    margin-bottom: 3px

    &.with-postfix
      display: flex
      justify-content: space-between
      @media(max-width: 450px)
        flex-direction: column
        .label-postfix
          margin-top: 2px

  input, textarea
    font-size: 17px
    border: none
    display: block
    width: 100%
    outline: none
    padding: 0
    trans('padding-right')
    resize: none
    background-color: transparent

  textarea
    height: 20px
    max-height: 140px
    line-height: normal

  &.with-postfix
    .input-wrap
      display: flex
    .postfix
      padding-left: 10px

  &.with-prefix
    .input-wrap
      display: flex
    .prefix-wrap
      padding-right: 15px
      i
        font-size: 17px
        vt-middle()
        display: inline-block

  &.amount-input
    .prefix
      opacity: .5
      padding-right: 27px


  &.input-big
    input
      font-size: 30px

  .error-wrapper
    position: absolute
    opacity: 0
    visibility: hidden
    trans('opacity, visibility')
    background-color: rgba($color-text, .94)
    border-radius: 5px
    font-size: 13px
    color: $color-white
    padding: 11px
    right: 0
    top: calc(100% + 4px)

  .input-wrap
    position: relative
    &:before
      content: "\e902"
      font-weight: 400
      font-family: icomoon
      display: inline-block
      position: absolute
      right: 0
      top: -1px
      font-size: 22px
      line-height: 1
      color: $color-error
      opacity: 0
      visibility: hidden
      trans('opacity, visibility')

  &.input-big
    .input-wrap
      &:before
        top: 8px


  &.input-container-invalid
    &:hover
      .error-wrapper
        opacity: 1
        visibility: visible
    input, textarea
      padding-right: 30px
    .input-label
      opacity: 1
      color: $color-error
    .input-wrap
      &:before
        opacity: 1
        visibility: visible
    &.with-postfix
      .input-wrap
        &:before
          opacity: 0
          visibility: hidden


  .prefix-with-selector
    width: 100px
    @media(max-width: 450px)
      width: 90px
    & + input, & + textarea
      flex: 1



.input-label
  font-size: 13px
  opacity: .5
  display: block
  trans('opacity, color')


.covered-input
  position: relative

  .input-container label
    opacity: 0
    visibility: hidden

  .cover
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

    .btn-link
      height: 100%
      padding-left: 20px

  &.uncover
    .input-container label
      opacity: 1
      visibility: visible
    .cover
      opacity: 0
      visibility: hidden



.input-selector
  position: relative
  .tooltip-menu
    right: auto
    left: 0
  .data
    opacity: .5
    font-size: 30px
    cursor: pointer
    i
      font-size: 23px
      margin-left: 5px
