.table-title
  margin-top: 27px

.table
  border-radius: 11px
  border: 1px solid $color-border
  overflow: hidden
  display: block
  font-size: 17px
  font-weight: 400
  overflow-x: auto
  -webkit-overflow-scrolling: touch

  .clickable
    cursor: pointer

  table
    border-collapse: collapse
    width: 100%
    min-width: 600px

  thead
    background-color: $color-border
    font-weight: 700
    text-align: left

  tbody tr
    border-bottom: 1px solid $color-border
    &:last-child
      border-bottom: 0

    &:hover
      background-color: rgba($color-border, .3)
    &.hint
      cursor: help

  th, td
    height: 39px
    padding-left: 19px
    padding-right: 14px

  &.table-with-actions
    th, td
      height: 50px

    tbody tr
      &:hover
        background-color: inherit
