.content-landing
  padding-top: 94px !important

  @media(max-width: 560px)
    padding-top: 50px !important

  .content
    max-width: 496px
    text-align: center

  h1
    margin-bottom: 9px

    size-flex({max: 50px, min: 38px, width: 700px})

  .subtitle
    font-size: 13px
    opacity: .5
    margin-bottom: 29px

  .box-content
    border-bottom: 1px solid $color-border
    &:last-child
      border-bottom: none
