#trade-page
  padding-top: 170px
  > .content
    max-width: 1028px
    clearfix()

  // revome after add charts
  .stock-chart
    width: 100%
    height: 460px
    margin-bottom: 8px
    .box-content
      height: 100%
    .stock-chart-container
      height: 100%

  .left
    float: left
    margin-right: 8px
    width: 728px
  .right
    float: left
