.chart
  overflow: visible !important
  .highcharts-container
    overflow: visible !important

.yaxis-label
  font-family: $main-font-family, Helvetica, Arial
  color: $color-text
  font-size: 13px
  margin-left: -10px
  &.price
    color: $color-base
  &.zero
    color: #AAB9C7

.x-axis-label
  font-family: $main-font-family, Helvetica, Arial
  color: #A9B9C7
  font-size: 13px
  font-weight: 500

.chart-tooltip-content
  font-family: $main-font-family, Helvetica, Arial
  font-size: 11px
  border: 1px solid #DCE2E8
  border-radius: 5px
  padding: 9px 18px
  padding-bottom: 15px
  padding-right: 44px
  //overflow: hidden
  background-color: #fff
  position: relative
  &:after
    content: ''
    position: absolute
    background-color: #cccccc
    border: 1px solid #DCE2E8
    border-radius: 4.25px
    width: 80%
    height: 90%
    z-index: -1
    filter: blur(14px)
    left: 0
    right: 0
    margin: auto
    bottom: -8px
    pointer-events: none
  .datetime
    font-weight: 500
    margin-bottom: 7px
  .series-value
    font-size: 17px
  .series-info-block
    margin-bottom: 5px
    &:last-child
      margin-bottom: 0

.chart-preloader
  position: absolute
  height: 100%
  width: 100%
  top: 0
  left: 0
  .preloader-content
    text-align: center
    opacity: .9
    height: 67px
    vt-middle()
    .icon-spin
      color: $color-border
      font-size: 35px
    p
      text-transform: uppercase
      font-weight: 500
      font-size: 13px
      margin-top: 12px
      letter-spacing: 0.08em
      color: $color-border
