.balance
  padding: 0 22px

  h4
    letter-spacing: 0

  &.disabled
    .amount, .currency, .change
      opacity: .5
      color: $color-text !important

  .amount
    font-size: 60px
    font-weight: 700
    margin-left: -4px
    margin-right: 10px

  .currency
    font-size: 20px
    font-weight: 700

  @media(max-width: 374px)
    padding: 0 18px
    .amount
      font-size: 50px

  &.balance-exchange
    h4
      opacity: .5
    .amount
      margin-top: 6px
      margin-left: 0px
      margin-bottom: 4px
    .change
      padding-left: 1px
      font-size: 30px
      @media(max-width: 340px)
        font-size: 26px
      color: $color-exchange-green
      i
        font-size: 28px
        @media(max-width: 340px)
          font-size: 24px
      .value
        transform: translateY(-2px)
        display: inline-block
        padding-left: 8px
