.body-container
  padding-top: 60px

.content-wrap
  padding: 20px
  padding-top: 120px
  padding-bottom: 80px

  @media(max-width: 560px)
    padding-top: 30px !important

  &.wide
    padding-top: 30px
    .content
      max-width: 1000px

.content
  margin: auto
  max-width: 720px
