.data-with-action-block
  display: flex
  justify-content: space-between

  .data
    flex-grow: 1

  .actions
    clearfix()
    margin: -5px
    &.no-margin
      margin: 0
    .btn-wrap
      padding: 5px
      float: right

  @media(max-width: 600px)
    flex-direction: column
    .complex-title
      margin-bottom: 0
    .actions
      padding: 20px 0
      .btn-wrap
        float: left
