.dot
  width: 7px
  height: @width
  border-radius: @width
  display: inline-block
  background-color: $color-base
  &.green
    background-color: $color-green-dot

.btn-action
  .dot
    margin-right: 8px
    vertical-align: top
    margin-top: 7px
