form
  .box-content
    border-top: 1px solid $color-border

    &:first-child
      border-top: none

    &.with-form-btn
      padding-top: 7px
      border-top: none
      .btn
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
