.bordered-icon
  width: 43px
  height: @width
  border-radius: @width
  background-color: $color-white
  box-shadow: $box-shadow
  text-align: center

  i
    color: $color-text
    font-size: 20px
    display: inline-block
    vt-middle()

    &.icon-arrow-left
      left: -1px
      top: calc(50% - 1px)

  .icon-arrow_right_long
    font-size: 16px
