.keypad
  .input-container
    border-bottom: 1px solid $color-border
    margin-bottom: 52px
    input
      text-align: center
  .buttons
    clearfix()
    .btn-wrap
      width: (100%/3)
      float: left
      padding: 5px

    .btn
      text-transform: uppercase
      padding: 10px
      height: 58px
      span
        position: relative
        top: 1px
