.links-list
  li
    border-bottom: 1px solid rgba($color-text, .05)
    &:last-child
      border-bottom: none

  a
    display: block
    position: relative
    padding: 16.5px 16.5px 16.5px 39px

    &:hover
      opacity: .8

    i
      position: absolute
      left: 3px
      top: 14px
      font-size: 23px

      &.icon-phone
        left: 2px
        top: 11px
        font-size: 29px
