.navbar
  $nav-height = 60px
  background-color: $color-text
  height: $nav-height
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 22px
  position: fixed
  width: 100%
  left: 0
  top: 0
  z-index: 10

  .left-part, .right-part
    display: flex
    align-items: center
    height: 100%

  .navbar-user
    .name
      color: $color-white
      opacity: .5

  & &-menu
    margin-left: 32px
    height: 100%

  &-menu
    display: inline-block
    li
      display: inline-block
      height: 100%

      &.active
        border-top: 1px solid $color-white
    a
      color: $color-white
      opacity: .5
      padding: 0 11px
      height: 100%
      display: inline-block

      span
        display: inline-block
        vt-middle()

      trans('opacity')
      &:hover
        opacity: .8

  .tooltip-menu-container
    height: 100%
    .tooltip-menu
      top: calc(100% - 9px)
    &.no-menu
      .tooltip-menu, .icon-triangle_down
        display: none
      .tooltip-menu-trigger
        cursor: default
        &:hover
          opacity: .5

  .tooltip-menu-trigger
    & > span
      display: inline-block
      vt-middle()
    height: 100%
    trans('opacity')
    &:hover
      opacity: .8
    .icon-triangle_down
      font-size: 4px
      display: inline-block
      padding-left: 5px
      vertical-align: middle
      transform: translateY(-1px)

  &.mobile-menu-active
    .mobile-navbar-overlay
      opacity: 1
      visibility: visible
    .mobile-navbar
      max-height: 400px

  .mobile-navbar-overlay
    display: none
    background-color: rgba(#000, .5)
    position: fixed
    z-index: 1
    width: 100%
    height: "calc(100% - %s)" % $nav-height
    top: $nav-height
    left: 0
    opacity: 0
    visibility: hidden
    trans('opacity, visibility')

  .mobile-navbar-content
    border-top: 1px solid rgba($color-white, .1)
    padding: 20px

  .mobile-navbar
    display: none
    background-color: $color-text
    color: $color-white
    position: fixed
    z-index: 2
    left: 0
    top: $nav-height
    width: 100%
    overflow: hidden

    max-height: 0
    trans('max-height')

    .mobile-menu
      margin-bottom: 25px

    .user-name
      font-size: 16px
      opacity: .5
      margin-bottom: 6px

    .mobile-menu, .user-menu
      font-size: 17px
      a, button
        display: block
        width: 100%
        padding: 10px 0
        text-align: left

    .user-menu
      a, button
        padding: 5px 0

  .mobile-menu-trigger
    display: none
    color: $color-white

  .navbar-balance-container
    display: block
  .mobile-navbar
    .navbar-balance-container
      display: none


  @media(max-width: 767px)
    .navbar-balance-container
      display: none

    .mobile-navbar
      .navbar-balance-container
        display: inline-block
        margin-bottom: 10px
        .tooltip-menu
          color: $color-text
          right: auto
          left: 0


    .navbar-menu, .navbar-user
      display: none
    .mobile-menu-trigger, .mobile-navbar, .mobile-navbar-overlay
      display: block



.site-logo
  color: $color-white
  font-weight: 700
  font-size: 22px
  trans('opacity')
  &:hover
    opacity: .8
