.navbar-balance-container
  position: relative

  .data
    color: $color-white
    border: 1px solid $color-white
    opacity: .5
    border-radius: 4px
    padding: 6px 13px
    cursor: pointer
    trans('opacity')

    &:hover
      opacity: .7
    &:active
      opacity: .9

    i
      font-size: 4px
      display: inline-block
      padding-left: 10px
      vertical-align: middle
      transform: translateY(-1px)

.navbar
  .navbar-balance-container
    margin-right: 25px
