.qr-box, .qr-scan
  margin: auto
  overflow: hidden
  background-color: $color-text

  canvas, img
    height: 100%
    width: 100%

.qr-box
  $size = {max: 337px, min: 240px, width: 500px}
  size-flex($size, 'width')
  size-flex($size, 'height')

.qr-scan
  border-radius: 11px
  $size = {max: 337px, min: 270px, width: 500px}
  size-flex($size, 'width')
  size-flex($size, 'height')

.box.with-qr
  padding: 50px
  @media(max-width: 400px)
    padding: 20px
