.text-box
  border-radius: 11px
  border: 1px solid $color-border
  padding: 20px
  background-color: $color-white

  h4
    margin-bottom: 10px

  p
    margin-bottom: 10px
    font-size: 17px
    font-weight: 400
    &:last-child
      margin-bottom: 0

  .btn
    margin-top: 25px
