$img-url   = '../images'
$fonts-url = '../web_fonts'

img-url(file)
  return $img-url + '/' + file

font-url(file)
  return $fonts-url + '/' + file

$main-font-family = 'UDC-Font'

$color-body-bg = #FCFDFF
$color-base = #1675FA
$color-text = #222936
$color-red = #C70014
$color-pink = #FF476B
$color-error = #DE0000
$color-btn-red = #CC182B
$color-green = #2FDE81
$color-green-dot = #5CB85B
$color-btn-space = #FAFBFC
$color-shadow-grey = #E5EAEB
$color-border = #E7E8EC
$color-white = #FFFFFF
$color-black = #000000
$color-border-checkbox = #90949A
$color-exchange-green = #0DCC88

$box-shadow = 0 1px 11px 0

// Animation
$transition-timing-function = ease
$transition-duration = .3s
